/*Page Stuff*/
html,
body {
  overflow:-moz-hidden-unscrollable;
  
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  display: block;
  background: linear-gradient(-45deg, rgba(5, 15, 10, .35)15%, rgba(15, 5, 10, .85)), url(../images/wallpapper-cubes.png) center 25% no-repeat fixed;
  background-size: cover;
  scroll-snap-type: calc();
}



/*Title Text Stuff*/
@font-face {
  font-family: neon;
  src: url(https://db.onlinewebfonts.com/t/790bec5e75015631c8b9e0df43a93061.ttf);
}
.container {
  display: block;
  text-align: center;
  vertical-align: middle;
}
.cyber {
  margin-top: 80px;
  font-family: neon;
  color: #FB42D4;
  font-size: 7vw;
  line-height: 7vw;
  text-shadow: 0 0 3vw #F40AD5;
  margin-left: -120px;
  cursor:wait;
}
.zone {
  margin-top: 10px;
  font-family: neon;
  color: #000000;
  font-size: 9vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw #000000;
  margin-left: 250px;
  cursor:help;
}

/*Cyber Animation Stuff*/
.cyber {
  animation: cyber 5.2s ease-in infinite;
  -moz-animation: cyber 5.2s ease-in infinite;
  -webkit-animation: cyber 5.2s ease-in infinite;
}
@keyframes cyber {
  0%,
  100% {
    text-shadow: 0 0 .5vw #FA0AC1, 0 0 2vw #FA0AC1, 0 0 6vw #FA0AC1, 0 0 6vw #FA0AC1, 0 0 .2vw #FE0BB8, .5vw .5vw .1vw #800964;
    color: #FE0BB8;
  }
  50% {
    text-shadow: 0 0 .5vw #800C5B, 0 0 1vw #800C5B, 0 0 4vw #800C5B, 0 0 4vw #800C5B, 0 0 .2vw #800C5B, .5vw .5vw .1vw #40043A;
    color: #800964;
  }
}
/*Zone Animation Stuff*/
.zone {
  animation: zone 4.2s ease-out infinite;
  -moz-animation: zone 4.2s ease-out infinite;
  -webkit-animation: zone 4.2s ease-out infinite;
  -o-animation: zone 4.2s ease-out infinite;
}
@keyframes zone {
  0%,
  100% {
    text-shadow: 0 0 .5vw #10E19F, 0 0 2vw #10E19F, 0 0 6vw #10E19F, 0 0 6vw #10E19F, 0 0 .2vw #8BFEFD, .5vw .5vw .1vw #148270;
    color: #28E7DE;
  }
  50% {
    text-shadow: 0 0 .5vw #088140, 0 0 1vw #088140, 0 0 4vw #088140, 0 0 4vw #088140, 0 0 .2vw #088140, .5vw .5vw .1vw #0A4930;
    color: #148C6B;
  }
}

/*Button Stuff*/
.button{
  margin-top: 80px;
  width: 15rem;
  height: 6rem;
  font-family: neon;
  text-align: center;
  padding: 22px;
  font-size: 36pt;
  font-weight: 900;
  background-color: rgba(30,10,20,.6);
  border-radius: 2rem;
  cursor: pointer;
}
#button {
  background: -webkit-linear-gradient(-45deg, rgba(175, 15, 90, 0.5)25%, rgba(15, 175, 90, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*Audio Stuff*/
.audioplayer {
  display: fixed;
  vertical-align: bottom;
  justify-content: center;
}
audio::-webkit-media-controls-panel {
  background-color: #101010;
}
audio::-webkit-media-controls-current-time-display {
  color: #fff;
}
audio::-webkit-media-controls-time-remaining-display {
  color: #fff;
}
audio::-webkit-media-controls-play-button {
  background-color: #202020;
  border-radius: 50%;
}
audio::-webkit-media-controls-play-button:hover {
  background-color: rgba(70,70,70, .7);
}
audio::-webkit-media-controls-mute-button {
  background-color: #202020;
  border-radius: 50%;
}
audio::-webkit-media-controls-mute-button:hover {
  background-color: rgba(70,70,70, .7);
}
audio::-webkit-media-controls-timeline {
  background-color: #202020;
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
}
audio::-webkit-media-controls-volume-slider {
  background-color: #202020;
  border-radius: 25px;
  padding-left: 8px;
  padding-right: 8px;
}
.audio-1 {
  border: solid 2px white;
  border-radius: 28px;
}


.ana{
  margin-top: 50px;
}

.img1{
    width: 300px;
    height: auto;
    margin: auto;
    display: block;
}

.img2{
  width: 160px;
}
