body {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}

.ana {
margin-top: 0px;
margin-left:0px;

} 

.yatay {
    margin-top: 70px;
    width: 100%;
    height: 600px;
    position: flex;
    align-items: center;
    background-image: url(https://media4.giphy.com/media/x9RKis70EOqZvJq7vX/giphy.gif?cid=ecf05e474ss5lws54mbx9gd0zzz0tgow9zcn56vet7i75bnb&ep=v1_gifs_related&rid=giphy.gif&ct=s);
    background-repeat: no-repeat;
    background-size: 350px;
    background-position: center;
}

.img1{
    
    width: 450px;
    height: auto;
    margin: auto;
    display: block;
    
}